<!--该页面由login页面跳转而来-->
<!DOCTYPE HTML>
<html>
    <head>
	    <title>分钱分钱</title>
        <meta charset="utf-8">
	    <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, minimum-scale=1.0,user-scalable=no" />
        <!--以上添加meta标签  -->		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js "></script>
       <script type="text/javascript">
	if (navigator.userAgent.match(/Android/i)
			|| (navigator.userAgent.indexOf('iPhone') != -1)
			|| (navigator.userAgent.indexOf('iPod') != -1)
			|| (navigator.userAgent.indexOf('iPad') != -1)) {
		var densitydpi = 640 / screen.width * window.devicePixelRatio * 160;
		var initialContent = 'target-densitydpi=' + densitydpi
				+ ', width=640,user-scalable=no';
		document.getElementsByName('viewport')[0].setAttribute('content',
				initialContent);
	}
</script>

</head>

<body>
	<!--*********************总金额和人数的显示及确定 start*********************-->
	<header>
    	总金额为：<input type="number" value="" id="total_money" />元
        <button id="submit_money">确定</button>
        房间人数为：<input type="number" value="" id="total_people"  readonly/>人
    </header>
	<!--*********************总金额和人数的显示及确定 end*********************-->
    
    <section>
	<!--*********************单个人员列表 start*********************-->
    	<div id="list">
        	<ul>
            	<!--房主信息 start-->
            	<li class="single_host">
                	<label>1.主君：</label>
                    <div class="single_name">XXX</div>
                    <div class="single_money">1000元</div>
                </li>
                <!--房主信息 end-->
                <!--普通房客信息 start-->
                <li class="single_list">
                	<label>2.士大夫：</label>
                    <div class="single_name">{{ username }}</div>
                    <div class="single_money">1000元</div>
                </li>
                <!--普通房客信息 end-->
            </ul>
        </div>
	<!--*********************单个人员列表 end*********************-->
    </section>
	<!--*********************房主开始分钱按钮 start*********************-->
    <footer>
    	<button id="play"></button>
    </footer>
	<!--*********************房主开始分钱按钮 end*********************-->
</body>
</html>
