<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>LOGIN</title>
</head>
<body>
<h1>LOGIN PAGE:</h1>
<form method='post' enctype="multipart/form-data">
{% csrf_token %}
{{ uf.as_p }}
<input type="submit" value="ok"/>
</form>
<br>
<a href="http://127.0.0.1:8000/online/regist/" >REGIST</a>
</body>
</html>