<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>welocome {{ username }}!</h1>
<br>
{{ a }}
<br>
{{ name }}
<a href="http://127.0.01:8000/online/logout">logout</a>
</body>
</html>