<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>REGIST</title>
</head>
<body>
<h1>REGIST PAGE:</h1>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ uf.as_p }}
	<input type="submit" value="ok">
</form>
<br>
<a href="http://127.0.0.1:8000/online/login">LOGIN</a>
</body>
</html>