<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>welcome</title>
</head>
<body>
<form action ="/add/" method="get">
	a:<input type="text" id="a" name="a"><br>
	b:<input type="text" id="b" name="b"><br>
	<p>result:<span id='result'></span></p>
	<button type="button" id='sum'>提交</button>
	</form>
<div id="dict">Ajax 加载字典</div>
<p id="dict_result"></p>
<div id="list">Ajax 加载列表</div>
<p id="list_result"></p>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$("#sum").click(function(){
		var a=$("#a").val();
		var b=$("#b").val();
		$.get("/add/",{'a':a,'b':b},function(ret){
			$('#result').html(ret);
		})
	});
	$("#list").click(function(){
		$.getJSON('/ajax_list',function(ret){
			for (var i=ret.length-1;i>=0;i--){
				$('#list_result').append(''+ret[i])
			};
		})
	})
	$("#dict").click(function(){
		$.getJSON('/ajax_dict',function(ret){
			$('#dict_result').append(ret.twz+'<br>');
		})
	})
});
</script>
<br>
{{ string }}
</body>
</html>