<!DOCTYPE html>
<html>
<head>
  <title>Welcome, {{ username }}</title>
</head>


<body>
  <p>Welcome, {{ username }}!</p>
  </br>
{% if r and r>0 %}
<p> are you kidding? yes</p>
{% endif %}
{% for k,v in values %}
	<p>name:{{ k }}  score:{{ v }}</p>
{% endfor %}
<a href="http://www.baidu.com">baidu</a>
<a href="http://127.0.0.1:5000/login">注册</a>
</body>
</html>