<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>日天</title>
</head>
      <style type="text/css">
        body{color:black;background:grey;padding:0 5em;margin:0}
        h1{padding:2em 1em;background:white}
        h2{color:balck;border-top:1px dotted #fff;margin-top:2em}
        p{margin:1em 0}
      </style>
<body>
	<h1>赵日天</h1>
	<h3>我赵日天不服叶良辰</h3>
	{% block content %}
	{% endblock %}
</body>
</html>