<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
{% extends "base.html" %}
	{% block content %}
		{% for post in blog_list %}
		<h2>{{  post.title }}</h2>
		<p>{{  post.pub_date| date:"1,F jS" }}</p>
		<p>{{  post.content }}</p>
		<br>
		{% endfor %}
		<a href="http://127.0.01:8000/admin/">登陆</a>
		<form method="post" enctype="multipart/form-data" >
		{{uf.as_p}}
		<input type="submit" value="上传"/>
</form>
	{% endblock %}
</body>
</html>